@charset "utf-8";

/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 3

   Calendar Style Sheet
   Author: Gabriel Hernandez
   Date: 12/12/18    

   Filename:   lht_tables.css

*/

/* ===============================
   Mobile Styles: 0px to 640px 
   ===============================
*/
@media only screen and (max-width: 640px) {
/* This is to make the mobile layout into a single column. */
    table,
    tbody,
    tr,
    td,
    th,
    caption {
        display: block;
    }

    /* this gets ride of the to elements because it is not neseccary and make the site harder to read on mobile screens. */
    thead,
    h1 {
        display: none;
    }

    /* this makes the capotion look more like a title for the table(calendar). */
    caption {
        background: gray;
        font-size: 1.5em;
        line-height: 2em;
    }

    /* the next three Styles make the days on the clendar look better and colorto hte odd days of the month. */
    td {
        border: 1px solid gray;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 40%;
        min-height: 40px;
    }

    tr:nth-of-type(odd) {
        background: rgb(255, 235, 178);
        border: 2px solid gray;
    }

    td::before{
        content: attr(data-date);
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        padding: 5px;
    }
}



/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/
/* here the styles for screens bigger than 641px have and added image in the table's background and makes the borders of the cells share some of the same rules and styles. */
@media only screen and (min-width: 641px) {
    table {
        background: url(lht_photo1.png) no-repeat bottom right;
        background-size: 40%;
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin: 20px auto 20px auto;
        table-layout: fixed;
        width: 85%;
    }
    th, td {
        border: 1px solid gray;
        font-size: .85em;
        font-weight: normal;
        padding: 5px;
        vertical-align: top;
        width: 14.28%;
        word-wrap: break-word;
    }
    td {
        background: rgba(171, 171, 171, .6);
        color: rgb(11, 12, 145);
    }

    /* Using the data-date sttribute make all the attributes that start with 'Feb' have the rules that make the days of feb stnad out compared to the other days from the next and prevois month. */
    td[data-date*="Feb"] {
        background:  rgba(232, 214, 148, 0.6);
        box-shadow: inset gray 0px 0px 20px;
    }
    caption {
        vertical-align: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }
    thead th {
        background: rgb(154, 64, 3);
        color: white;
    }
}